@use '@/SASS/abstracts/colours' as c;

.post-page {
  &__container {
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
  }

  &__post {
    margin-bottom: 2rem;
    border: 1px solid c.$color-grises-800;
    border-radius: 4px;
    background: light-dark(c.$color-secundario-600,c.$color-grises-200);
  }

  &__header {
    padding: 1rem;
  }

  &__author-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__author-name {
    color:light-dark(c.$color-primario-700,c.$color-grises-700);
  }

  &__date {
    color:light-dark(c.$color-primario-600,c.$color-grises-600);
    margin-left: 8px;
  }

  &__figure {
    margin: 0;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__text {
    margin: 0.5rem 1rem 1rem;
    color: light-dark(c.$color-primario-700,c.$color-grises-800);
  }

  &__comments-section {
    margin-bottom: 2rem;
  }

  &__comments-title {
    margin-bottom: 0.1rem;
  }

  &__comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__no-comments {
    text-align: center;
    color: light-dark(c.$color-secundario-400,c.$color-grises-200);
    padding: 0.75rem 0;
  }

  &__comment-item {
    border-bottom: 1px solid #eee;
    padding: 0.75rem 0;
  }

  &__comment-header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__comment-username {
    text-decoration: none;
    color: inherit;
    font-weight: 450;
  }

  &__comment-date {
    color: light-dark(c.$color-grises-500,c.$color-grises-800);
    margin-left: auto;
  }

  &__delete-comment-btn {
    background: transparent;
    border: none;
    color: light-dark( c.$color-secundario-800,c.$color-grises-800);
    font-weight: bold;
    cursor: pointer;
    font-size: 0.85rem;
    margin-left: 8px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__form-section {
    border-top: 1px solid #ddd;
    padding-top: 1rem;
  }

  &__form-title {
    margin-bottom: 0.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid c.$color-grises-300;
    background-color: light-dark(c.$color-secundario-400,c.$color-grises-300);
    border-radius: 8px;
    resize: vertical;
  }

  &__submit-btn {
    align-self: flex-end;
    padding: 0.5rem 1rem;

    &:disabled {
      background-color: c.$color-grises-200;
      cursor: not-allowed;
    }
  }
}
