@use "../abstracts/colours" as c;

button{
  background-color: light-dark(c.$color-secundario-600,c.$color-grises-600);
  color: light-dark(c.$color-primario-100,c.$color-grises-200);
  border: none;
  border-radius: 16px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 0;
}

