@use '@/SASS/abstracts/colours' as c;

$overlay-base: c.$color-grises-300;
$overlay-opacity: 0.5;
$modal-bg: light-dark(c.$color-secundario-500, c.$color-grises-500);
$modal-padding: 1.5rem;
$modal-radius: 8px;
$modal-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
$close-size: 2rem;
$close-color: light-dark(c.$color-primario-800, c.$color-grises-200);
$close-hover-color: light-dark(c.$color-secundario-600, c.$color-grises-300);
$modal-z-index: 10000000;

.modal {
  &__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(
        red($overlay-base),
        green($overlay-base),
        blue($overlay-base),
        $overlay-opacity
    );

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $modal-z-index;
  }

  &__content {
    background: $modal-bg;
    border-radius: $modal-radius;
    box-shadow: $modal-shadow;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid c.$color-grises-200;
  }

  &__title {
    margin: 0;
    padding-left: 1rem;
    color: light-dark(c.$color-primario-800, c.$color-grises-200);
  }

  &__close-button {
    padding-right: 1rem;
    background: none;
    border: none;
    font-size: $close-size;
    line-height: 1;
    cursor: pointer;
    color: $close-color;
    transition: color 0.2s ease;

    &:hover {
      color: $close-hover-color;
    }
  }

  &__submit-button {
    display: block;
    margin: 1.5rem auto 0;
    margin-bottom: 1rem;
    width: min-content;
    background-color: c.$color-primario-600;
    color: c.$color-secundario-600;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:disabled {
      background-color: c.$color-primario-200;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: c.$color-primario-700;
    }
  }
  &__body {
    padding: $modal-padding;
    color: c.$color-primario-700;
    font-weight: bold;
    overflow-y: auto;
  }
}
