.app-layout {
  display: grid;
  grid-template-columns: 30% 40% 20%;
  gap: 2rem;
  padding: 1rem;

  &__sidebar {
    grid-column: 1;
  }

  &__content {
    grid-column: 2;
    overflow-y: auto;
  }

  &__aside-secondary {
    grid-column: 3;
  }

  @media(max-width: 1024px) {
    &__aside-secondary {
      display: none;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    padding: 0;

    &__content {
      grid-column: 1;
      grid-row: 2;
      padding: 1rem;
      overflow-y: auto;
    }

    &__sidebar {
      text-align: center;
      position: static;
      grid-column: 1;
      grid-row: 1;
      width: 100%;
    }
  }
}
