.app-layout {
  display: grid;
  grid-template-columns: 30% 40% 20%;
  gap: 2rem;
  padding: 1rem;

  &__sidebar {
    grid-column: 1;

  }

  &__content {
    grid-column: 2;
    overflow-y: auto;
  }

  &__aside-secondary {
    grid-column: 3;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    &__sidebar,
    &__content,
    &__aside-secondary {
      grid-column: 1;
      grid-row: auto; // Reset
    }
  }

}
